#cards {
  margin-top: 1em;
}

.card-title, .chip {
  vertical-align: middle;
}

.card img {
  max-width: 100%;
}

.progress {
  margin-top: 0;
}

ul.pagination {
	display: flex;
	justify-content: center;
}

.brand-logo {
    white-space: nowrap;
}

.container {
    overflow-wrap: anywhere;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
