<div class="col s12 m6">
  <div class="card">
    <div class="card-content">
      <span class="card-title teal-text text-darken-3"><%= issue["title"] %></span>
      <p><%= md_strip issue["body"] %></p>
    </div>
    <div class="card-action">
      <a href="<%= issue["url"] %>">See more on GitHub</a>
    </div>
  </div>
</div>
