<div class='navbar-fixed'>
  <nav class='teal lighten-1'>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">Open Source Ideas</a>
      </div>
    </div>
  </nav>
</div>

<div class="container" id="cards">
  <div class="row">
    <%= render partial: 'issue', collection: @issues %>
  </div>
</div>
